body{
    display: flex;
    align-content: center;
    justify-content: center;
    height: 100%;
    background-color: #e4e4e4;
    color: #5a75e2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}

div{
    display: flex;
    flex-direction: column;
}

h1{
    text-align: center;
}